{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container card-container">
    <div class="row">
        {% for Anime in all_anime %}
        <div class="col card-col col-md-2">
            <a class="card-link" href="{{ Anime.gogoanime_url }}">
                <img src="{% static 'img/test.jpg' %}" alt="Card image cap" style="width:100%; height:10rem"></a>
            <a class="card-link" href="{{ Anime.gogoanime_url }}">
                <h5 class="card-title truncate" title="{{ Anime.anime_name }}">{{ Anime.anime_name }}</h5>
            </a>
            <p class="card-text">Episodes: {{ Anime.no_of_episodes }}</p>
            <button class="btn btn-primary" style="width:100%" type="submit"
                onclick="downloadalleps('{{ Anime.gogoanime_url }}')" name='mybtn2'>Download All</button>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    function downloadalleps(AnimeUrl) {
        $.ajax(
            {
                type: "POST",
                url: "/downloadalleps/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    AnimeUrl: AnimeUrl,
                },
                success: function callback(response) {
                    console.log(response);
                }
            })
    }
</script>

{% endblock %}